# Project Title
### Data Engineering Capstone Project

#### Project Summary

In my capstone project I will revisit the server log data of the platform *Sci-Hub* used by John Bohannon for his analysis of Sci-Hub user behaviour published in Science Magazine 2016 (https://www.sciencemag.org/news/2016/04/whos-downloading-pirated-papers-everyone). Sci-Hub is a shadow library website that provides free access to millions of research papers and books, without regard to copyright, by bypassing publishers' paywalls in various ways. (https://en.wikipedia.org/wiki/Sci-Hub).
The dataset Bohannon was provided by the Sci-Hub owner covers logs from September 2015 to February 2016 and has 28 million log entries.

Using the *March 2020 Public Data File from Crossref*, provided by Crossref on Academic Torrents https://academictorrents.com/details/0c6c3fbfdc13f0169b561d29354ea8b188eb9d63 which includes metadata of 112 million research articles, and mapping it to the Sci-Hub data, I will provide even more explorative options and insights into the behaviour and preferences of Sci-Hub users.

In [1]:
# Do all imports and installs here
import pandas as pd
import numpy as np
import gzip
import json
import glob
import os
import configparser

### Step 1: Scope the Project

After cleaning the data from the two sources, Sci-Hub and Crossref using the `pandas`library, I will stage the data from both sources in S3. Using a data warehouse in the form of a star schema relational database in Redshift I am going to make the data accessible for analyses via SQL or other suitable tools.

### Step 2: Describe and Gather Data, Explore, Clean and Save: Sci-Hub

The Sci-Hub data consists of 6 text files, one for each month, which are tab-separated:

`sep2015.tab, 
oct2015.tab, 
nov2015.tab, 
dec2015.tab, 
jan2016.tab, 
feb2016.tab`

There are 6 columns of data available, each row is a reference to a download of an article (referenced via the DOI) by a certain user which has further location details.
No column names are provided. I am using `dec2015.tab` in the `scihub_data_raw` folder for an exploration with the `pandas` library.

**Please download the sample files from https://drive.google.com/drive/folders/1CZyJoLvhWpWSUbNGSuBIUBLY9YBWCPgg?usp=sharing
and add them to a `scihub_data_raw` folder in the project**

In [2]:
path = "scihub_data_raw/dec2015.tab"

df_scihub = pd.read_table(path,names=["timestamp", "doi", "user_id", "user_country", "user_city", "user_location"],encoding="UTF-8")

The actual content of each of the columns suggests the following schema with column names `timestamp, doi, user_id, user_country, user_city, user_location`:

In [3]:
df_scihub.head()

,timestamp,doi,user_id,user_country,user_city,user_location
0,2015-12-01 00:00:00,10.1080/00423110701422426,56ed2c3981074,Saudi Arabia,Riyadh,"24.7135517,46.6752957"
1,2015-12-01 00:00:03,10.1111/j.1365-2222.2010.03601.x,56ed2b55bf5b4,Russia,Solnechnoye,"60.1516625,29.9345185"
2,2015-12-01 00:00:04,10.1007/978-1-4684-0274-2,56ed2b36d7d70,Italy,Ponte Ronca,"44.5017279,11.1891377"
3,2015-12-01 00:00:04,10.1016/j.ejor.2003.11.032,56ed2c3981124,Hungary,Budapest,"47.497912,19.040235"
4,2015-12-01 00:00:05,10.1049/iet-cdt.2014.0146,56ed9ff1c5403,Iran,Tehran,"35.6891975,51.3889736"

`timestamp`, `doi`, and `user_id` seem to be available for almost all rows. `user_country`, `user_country` ànd`user_location` are not provided for all downloads.

In [4]:
df_scihub.isna().sum()

timestamp             1
doi                   2
user_id               1
user_country      86058
user_city        748116
user_location     86058
dtype: int64

The function `clean_scihub_data` performs the data cleaning as described in the docstring.

In [5]:
def clean_scihub_data(df_scihub):
    """
    cleans the data of the Sci-Hub files
    requires a dataframe as input
    creates the 'day' column for partitioning
    removes rows with empty data in columns timestamp, doi and user_id
    """
    df_scihub["day"] = pd.to_datetime(df_scihub["timestamp"]).dt.day
    df_scihub["timestamp"] = pd.to_datetime(df_scihub["timestamp"])
    df_scihub = df_scihub[~df_scihub["timestamp"].isnull()]
    df_scihub = df_scihub[~df_scihub["doi"].isnull()]
    df_scihub = df_scihub[~df_scihub["user_id"].isnull()]
    df_scihub["day"] = df_scihub["day"].astype(int)
    return df_scihub

To clean all files in `scihub_data_raw` (samples in the folder: `dec2015.tab` and `jan2016.tab`) and save them in the `scihub_data`folder in parquet format, partitioned by `day`, I am using the following script:

In [6]:
path = "scihub_data_raw/"

filenames=glob.glob(os.path.join(path, '*.tab'))
for filename in filenames:
    print("loading {}".format(filename))
    
    df = pd.read_table(filename,names=["timestamp", "doi", "user_id", "user_country", "user_city", "user_location"],encoding="UTF-8")
    
    df = clean_scihub_data(df)
    new_filename = filename.replace("_raw","").replace(".tab",".parquet")
    df.to_parquet(new_filename, partition_cols=["day"], engine='pyarrow')
    print("saved {}".format(new_filename))

loading scihub_data_raw/jan2016.tab
saved scihub_data/jan2016.parquet
loading scihub_data_raw/dec2015.tab
saved scihub_data/dec2015.parquet

I uploaded these files manually to S3 bucket `s3://scihub-data/`

### Step 2: Describe and Gather Data, Explore, Clean and Save: Crossref

The crossref data includes metadata for each DOI registered at Crossref. The file format is JSON, there are 37000 single files.
I will look at one file, `0.json.gz` to analyse the data structure locally. In the project folder `crossref_data_raw` I saved 33 sample files.

In [7]:
path = "crossref_data_raw/0.json.gz"
with gzip.open(path) as file:
    json_object = json.load(file)
    file.close()

the JSON object in each file contains a list of `items`

In [8]:
json.dumps(json_object)[:300]

'{"items": [{"indexed": {"date-parts": [[2019, 11, 19]], "date-time": "2019-11-19T17:15:40Z", "timestamp": 1574183740979}, "reference-count": 0, "publisher": "American Medical Association (AMA)", "issue": "4", "content-domain": {"domain": [], "crossmark-restriction": false}, "short-container-title": '

and there are 3000 items in  each of the file

In [9]:
len(json_object["items"])

3000

one item is a nested JSON with a large amount of metadata, but for our purpose we will not need all of this

In [10]:
json_object["items"][0]

{'indexed': {'date-parts': [[2019, 11, 19]],
  'date-time': '2019-11-19T17:15:40Z',
  'timestamp': 1574183740979},
 'reference-count': 0,
 'publisher': 'American Medical Association (AMA)',
 'issue': '4',
 'content-domain': {'domain': [], 'crossmark-restriction': False},
 'short-container-title': ['Archives of Internal Medicine'],
 'published-print': {'date-parts': [[2006, 2, 27]]},
 'DOI': '10.1001/.389',
 'type': 'journal-article',
 'created': {'date-parts': [[2006, 2, 27]],
  'date-time': '2006-02-27T21:28:23Z',
  'timestamp': 1141075703000},
 'page': '389-390',
 'source': 'Crossref',
 'is-referenced-by-count': 0,
 'title': ['Decision Making at the Fringe of Evidence: Take What You Can Get'],
 'prefix': '10.1001',
 'volume': '166',
 'author': [{'given': 'N. F.', 'family': 'Col', 'affiliation': []}],
 'member': '10',
 'container-title': ['Archives of Internal Medicine'],
 'original-title': [],
 'deposited': {'date-parts': [[2007, 2, 13]],
  'date-time': '2007-02-13T20:56:13Z',
  'timestamp': 1171400173000},
 'score': None,
 'subtitle': [],
 'short-title': [],
 'issued': {'date-parts': [[2006, 2, 27]]},
 'references-count': 0,
 'URL': 'http://dx.doi.org/10.1001/.389',
 'relation': {},
 'ISSN': ['0003-9926'],
 'issn-type': [{'value': '0003-9926', 'type': 'print'}]}

I am going to extract the columns `"doi", "type", "title", "published-print", "prefix", "publisher", "subject"` including some data cleaning as described in the docstring

In [11]:
def clean_crossref_data(json_object):
    """
    extracts the items of the Crossref file
    flattens the JSON
    extracts columns:
    "doi", "type", "title", "published-print", "prefix", "publisher", "subject"
    remove all rows where "doi" is null
    """
    df = pd.DataFrame(json_object["items"])
    df = pd.json_normalize(json_object["items"])
    df.columns = df.columns.str.lower()
    df["title"]=df["title"].str[0]
    df["published-print"]=df["published-print.date-parts"].astype(str).str.extract(r'(\d{4})')
    if "subject" in df.columns:
        df["subject"]=df["subject"].str[0]
    else:
        df["subject"]=np.nan
    df=df[~df["doi"].isnull()]

    return df[["doi", "type", "title", "published-print", "prefix", "publisher", "subject"]]

In [12]:
#call function
df_crossref=clean_crossref_data(json_object)
df_crossref

,doi,type,title,published-print,prefix,publisher,subject
0,10.1001/.389,journal-article,Decision Making at the Fringe of Evidence: Tak...,2006,10.1001,American Medical Association (AMA),NaN
1,10.1001/.391,journal-article,Treatment of Excessive Anticoagulation With Ph...,2006,10.1001,American Medical Association (AMA),NaN
2,10.1001/.405,journal-article,Neutropenia in Human Immunodeficiency Virus In...,2006,10.1001,American Medical Association (AMA),NaN
3,10.1001/.411,journal-article,"Cocoa Intake, Blood Pressure, and Cardiovascul...",2006,10.1001,American Medical Association (AMA),NaN
4,10.1001/.424,journal-article,Effect of Cholecalciferol Plus Calcium on Fall...,2006,10.1001,American Medical Association (AMA),NaN
...,...,...,...,...,...,...,...
2995,10.1001/archderm.111.9.1135,journal-article,Toxic epidermal necrolysis. A review of 75 cas...,1975,10.1001,American Medical Association (AMA),NaN
2996,10.1001/archderm.111.9.1140,journal-article,Complement component analysis in angiodema. Di...,1975,10.1001,American Medical Association (AMA),NaN
2997,10.1001/archderm.111.9.1143,journal-article,Treatment of corns by injectable silicone,1975,10.1001,American Medical Association (AMA),NaN
2998,10.1001/archderm.111.9.1146,journal-article,Hairy cutaneous malformations of palms and sol...,1975,10.1001,American Medical Association (AMA),NaN
2999,10.1001/archderm.111.9.1150,journal-article,Immunocytochemical localization of cathepsin D...,1975,10.1001,American Medical Association (AMA),NaN

When looking for Null values, there are some titles and published-print values missing, and unfortunately most of the subjects

In [13]:
df_crossref.isna().sum()

doi                   0
type                  0
title               211
published-print     299
prefix                0
publisher             0
subject            2689
dtype: int64

to clean all files in `crossref_data_raw` and save them in folder `crossref_data` in  JSON format, I am using the following snippet:

In [14]:
path = 'crossref_data_raw/'

filenames=glob.glob(os.path.join(path, '*.gz'))
for filename in filenames:
    print("loading {}".format(filename))
    
    with gzip.open(filename) as file:
        json_object = json.load(file)
        file.close()
        
    df_crossref=clean_crossref_data(json_object)
    
    new_filename = filename.replace("_raw","").replace(".json.gz","_processed.json")
    
    df_crossref.to_json(new_filename, orient='records', lines=True)
    #df_crossref.to_parquet(new_filename, engine='pyarrow')
    
    print("saved {}".format(new_filename))

loading crossref_data_raw/8.json.gz
saved crossref_data/8_processed.json
loading crossref_data_raw/24.json.gz
saved crossref_data/24_processed.json
loading crossref_data_raw/12.json.gz
saved crossref_data/12_processed.json
loading crossref_data_raw/1.json.gz
saved crossref_data/1_processed.json
loading crossref_data_raw/13.json.gz
saved crossref_data/13_processed.json
loading crossref_data_raw/0.json.gz
saved crossref_data/0_processed.json
loading crossref_data_raw/9.json.gz
saved crossref_data/9_processed.json
loading crossref_data_raw/25.json.gz
saved crossref_data/25_processed.json
loading crossref_data_raw/2.json.gz
saved crossref_data/2_processed.json
loading crossref_data_raw/11.json.gz
saved crossref_data/11_processed.json
loading crossref_data_raw/18.json.gz
saved crossref_data/18_processed.json
loading crossref_data_raw/27.json.gz
saved crossref_data/27_processed.json
loading crossref_data_raw/19.json.gz
saved crossref_data/19_processed.json
loading crossref_data_raw/26.json.gz
saved crossref_data/26_processed.json
loading crossref_data_raw/3.json.gz
saved crossref_data/3_processed.json
loading crossref_data_raw/10.json.gz
saved crossref_data/10_processed.json
loading crossref_data_raw/6.json.gz
saved crossref_data/6_processed.json
loading crossref_data_raw/15.json.gz
saved crossref_data/15_processed.json
loading crossref_data_raw/23.json.gz
saved crossref_data/23_processed.json
loading crossref_data_raw/32.json.gz
saved crossref_data/32_processed.json
loading crossref_data_raw/22.json.gz
saved crossref_data/22_processed.json
loading crossref_data_raw/7.json.gz
saved crossref_data/7_processed.json
loading crossref_data_raw/14.json.gz
saved crossref_data/14_processed.json
loading crossref_data_raw/20.json.gz
saved crossref_data/20_processed.json
loading crossref_data_raw/30.json.gz
saved crossref_data/30_processed.json
loading crossref_data_raw/29.json.gz
saved crossref_data/29_processed.json
loading crossref_data_raw/16.json.gz
saved crossref_data/16_processed.json
loading crossref_data_raw/5.json.gz
saved crossref_data/5_processed.json
loading crossref_data_raw/28.json.gz
saved crossref_data/28_processed.json
loading crossref_data_raw/17.json.gz
saved crossref_data/17_processed.json
loading crossref_data_raw/4.json.gz
saved crossref_data/4_processed.json
loading crossref_data_raw/31.json.gz
saved crossref_data/31_processed.json
loading crossref_data_raw/21.json.gz
saved crossref_data/21_processed.json

I uploaded these files manually to S3 bucket `s3://crossref-sample/`

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model

First of all, there are two staging tables based on the two sources, Sci-Hub (table name `scihub_data`) and Crossref (table name `crossref_data`)

I decided using a star schema with `downloads` as fact table with supporting dimension tables `time` and `users` which have the SciHub data as source.

`downloads.timestamp` links to `time.timestamp`
`downloads.user_id` links to `users.user_id`


Table `articles` and `publishers` are dimension tables which have Crossref as data source.

`downloads.doi` links to `articles.doi`

As a normalization step I separated the publishers data from the articles to reduce redundancy.

`articles.prefix` links to `publishers.prefix`


Using this schema, you'll be able do explore all aspects of the downloads in a convenient way.

![schema](Capstone_project_schema.png "Schema")

#### 3.2 Mapping Out Data Pipelines

To pipeline the data into the the data model, the following steps are performed:
    
Read the data from the two S3 Buckets and stage it in the Redshift tables `scihub_data` and `crossref_data`

Create the tables and insert the data into Redshift

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Let's assume we have a Redshift cluster with a database created with the neccessary authorizations to connect to S3 stored in `redshift.cfg`

In [15]:
config = configparser.ConfigParser()
config.read_file(open('redshift.cfg'))

REGION_NAME            = config.get("AWS","REGION_NAME")

#Redshift credentials
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_ENDPOINT           = config.get("DWH","DWH_ENDPOINT")
DWH_IAM_ROLE_NAME      = config.get("DWH","DWH_IAM_ROLE_NAME")

##### connect to Redshift database

In [16]:
%load_ext sql

In [17]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://awsuser:Passw0rd@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev

##### staging table scihub_data

In [18]:
%%sql
DROP TABLE IF EXISTS scihub_data;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [19]:
%%sql
CREATE TABLE IF NOT EXISTS scihub_data (
    timestamp TIMESTAMP NOT NULL, 
    doi varchar(256), 
    user_id varchar(256),
    user_country varchar(256),
    user_city varchar(256),
    user_location varchar(256),
    day INT8);

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [20]:
scihub_data_copy="""
COPY scihub_data
FROM 's3://scihub-data/'
CREDENTIALS 'aws_iam_role={}'
FORMAT AS PARQUET;
""".format(DWH_IAM_ROLE_NAME)

In [21]:
%sql $scihub_data_copy

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

##### staging table crossref_data

In [22]:
%sql DROP TABLE IF EXISTS crossref_data;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [23]:
%%sql

CREATE TABLE IF NOT EXISTS crossref_data (
    doi varchar(256), 
    "type" varchar(256), 
    title varchar(512),
    "published-print" INT,
    prefix varchar(256),
    publisher varchar(256),
    subject varchar(256));

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [24]:
crossref_data_copy="""
COPY crossref_data
FROM 's3://crossref-sample/'
CREDENTIALS 'aws_iam_role={}'
REGION '{}'
JSON AS 'auto';
""".format(DWH_IAM_ROLE_NAME, REGION_NAME)

In [25]:
%sql $crossref_data_copy

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

##### downloads table (fact table)

In [26]:
%sql DROP TABLE IF EXISTS downloads

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [27]:
%%sql

CREATE TABLE IF NOT EXISTS downloads
    (
    download_id INT IDENTITY (0,1),
    timestamp TIMESTAMP NOT NULL,
    doi VARCHAR(256) NOT NULL,
    user_id VARCHAR(256) NOT NULL,
    PRIMARY KEY(download_id)
    );

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [28]:
%%sql

INSERT INTO downloads 
    ("timestamp",
    "doi",
    "user_id")
SELECT "timestamp",
       "doi",
       "user_id"
FROM scihub_data
WHERE timestamp IS NOT NULL
AND doi IS NOT NULL
AND user_id IS NOT NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
8781017 rows affected.

[]

##### users table (dimension table)

In [29]:
%sql DROP TABLE IF EXISTS users;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [30]:
%%sql

CREATE TABLE IF NOT EXISTS users
    (
    user_id VARCHAR(256) NOT NULL,
    user_country VARCHAR(256),
    user_city VARCHAR(256),
    user_location VARCHAR(256)
    );

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [31]:
%%sql

INSERT INTO users 
    ("user_id",
    "user_country",
    "user_city",
    "user_location")
SELECT DISTINCT "user_id",
       "user_country",
       "user_city",
       "user_location"
FROM scihub_data
WHERE user_id IS NOT NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1061153 rows affected.

[]

##### time table (dimension table)

In [32]:
%%sql

CREATE TABLE IF NOT EXISTS time
    (
    timestamp TIMESTAMP,
    year INT,
    month INT,
    week_of_year INT,
    weekday INT,
    day INT,
    hour INT,
    PRIMARY KEY(timestamp)
    );

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [33]:
%%sql

INSERT INTO time 
    ("timestamp",
    "year",
    "month",
    "week_of_year",
    "weekday",
    "day",
    "hour")
SELECT DISTINCT timestamp           AS timestamp,
    EXTRACT(year FROM timestamp)    AS year,
    EXTRACT(month FROM timestamp)   AS month,
    EXTRACT(week FROM timestamp)    AS week_of_year,
    EXTRACT(weekday FROM timestamp) AS weekday,
    EXTRACT(day FROM timestamp)     AS day,
    EXTRACT(hour FROM timestamp)    AS hour
FROM scihub_data
WHERE timestamp IS NOT NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
3817360 rows affected.

[]

##### articles table (dimension table)

In [34]:
%sql DROP TABLE IF EXISTS articles

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [35]:
%%sql

CREATE TABLE IF NOT EXISTS articles
    (
    doi VARCHAR(256) NOT NULL,
    title VARCHAR(512),
    "published-print" INT,
    prefix VARCHAR(256),
    PRIMARY KEY(doi)
    );

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [36]:
%%sql

INSERT INTO articles 
    ("doi",
    "title",
    "published-print",
    "prefix")
SELECT DISTINCT "doi",
       "title",
       "published-print",
       "prefix"
FROM crossref_data
WHERE doi IS NOT NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
99000 rows affected.

[]

##### publishers table (dimension table)

In [37]:
%sql DROP TABLE IF EXISTS publishers

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [38]:
%%sql

CREATE TABLE IF NOT EXISTS publishers
    (
    prefix VARCHAR(256) NOT NULL,
    publisher VARCHAR(256),
    PRIMARY KEY(prefix)
    );

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
Done.

[]

In [39]:
%%sql

INSERT INTO publishers 
    ("prefix",
    "publisher")
SELECT DISTINCT "prefix",
       "publisher"
FROM crossref_data
WHERE prefix IS NOT NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
3 rows affected.

[]

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

##### data quality check 1: count number of rows

In [40]:
%sql SELECT count(*) FROM scihub_data;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8781017,)]

In [41]:
%sql SELECT count(*) FROM crossref_data;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(99000,)]

In [42]:
%sql SELECT count(*) FROM downloads;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8781017,)]

In [43]:
%sql SELECT count(*) FROM users;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1061153,)]

In [44]:
%sql SELECT count(*) FROM time;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(3817360,)]

In [45]:
%sql SELECT count(*) FROM articles;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(99000,)]

In [46]:
%sql SELECT count(*) FROM publishers;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(3,)]

##### quality check 2: check if primary key is not null

In [47]:
%sql SELECT count(*) FROM scihub_data WHERE timestamp IS NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

In [48]:
%sql SELECT count(*) FROM crossref_data WHERE doi IS NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

In [49]:
%sql SELECT count(*) FROM downloads WHERE download_id IS NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

In [50]:
%sql SELECT count(*) FROM users WHERE user_id IS NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

In [51]:
%sql SELECT count(*) FROM time WHERE timestamp IS NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

In [52]:
%sql SELECT count(*) FROM articles WHERE doi IS NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

In [53]:
%sql SELECT count(*) FROM publishers WHERE prefix IS NULL;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

In [54]:
data_dictionary=pd.read_table("data_dictionary.txt")
data_dictionary

,Table Name,Table Type,Field Name,Data Type,Description,Example
0,scihub_data,Staging,download_id,INT,unique identifier for each download,1
1,scihub_data,Staging,timestamp,TIMESTAMP,date and time of article downloaded at SciHub,2015-12-01 00:00:06
2,scihub_data,Staging,doi,VARCHAR,the DOI (digital object indentifier) of the do...,10.1109/SNPD.2007.355
3,scihub_data,Staging,user_id,VARCHAR,the internal SciHub user identifier,56ed2c394b76d
4,scihub_data,Staging,user_country,VARCHAR,name of country of the SciHub user,Colombia
5,scihub_data,Staging,user_city,VARCHAR,name of city of the SciHub user,Medellín
6,scihub_data,Staging,user_location,VARCHAR,pair of coordinates of location of the SciHub ...,"6.2530408,-75.5645737"
7,scihub_data,Staging,day,INT,used for partitioning the raw data,1
8,crossref_data,Staging,timestamp,TIMESTAMP,date and time of article download at SciHub,2015-12-01 00:00:06
9,crossref_data,Staging,doi,VARCHAR,the DOI (digital object indentifier) of an art...,10.1001/archneur.1977.00500210065012
10,crossref_data,Staging,title,VARCHAR,article title from Crossref,EEG Recognition of Aicardi's Syndrome
11,crossref_data,Staging,published-print,INT,print publication year of article from Crossref,1995
12,crossref_data,Staging,prefix,VARCHAR,article publisher DOI prefix from Crossref,10.1017
13,crossref_data,Staging,publisher,VARCHAR,publisher name from Crossref,Cambridge University Press (CUP)
14,downloads,Fact,download_id,INT,unique identifier for each download,1
15,downloads,Fact,timestamp,TIMESTAMP,date and time of article downloaded at SciHub,2015-12-01 00:00:06
16,downloads,Fact,doi,VARCHAR,the DOI (digital object indentifier) of the do...,10.1109/SNPD.2007.355
17,downloads,Fact,user_id,VARCHAR,the internal SciHub user identifier,56ed2c394b76d
18,users,Dimension,user_id,VARCHAR,the internal SciHub user identifier,56ed2c394b76d
19,users,Dimension,user_country,VARCHAR,name of country of the SciHub user,Colombia
20,users,Dimension,user_city,VARCHAR,name of city of the SciHub user,Medellín
21,users,Dimension,user_location,VARCHAR,pair of coordinates of location of the SciHub ...,"6.2530408,-75.5645737"
22,time,Dimension,timestamp,TIMESTAMP,date and time of article download at SciHub,2015-12-01 00:00:06
23,time,Dimension,year,INT,year of article download at SciHub,2015
24,time,Dimension,month,INT,month of article download at SciHub,12
25,time,Dimension,week_of_year,INT,week of year of article download at SciHub,49
26,time,Dimension,weekday,INT,weekday of article download at SciHub,2
27,time,Dimension,day,INT,day of article download at SciHub,1
28,time,Dimension,hour,INT,hour of article download at SciHub,0
29,articles,Dimension,doi,VARCHAR,the DOI (digital object indentifier) of an art...,10.1001/archneur.1977.00500210065012
30,articles,Dimension,title,VARCHAR,article title from Crossref,EEG Recognition of Aicardi's Syndrome
31,articles,Dimension,published-print,INT,print publication year of article from Crossref,1995
32,articles,Dimension,prefix,VARCHAR,article publisher DOI prefix from Crossref,10.1017
33,publishers,Dimension,prefix,VARCHAR,publisher DOI prefix from Crossref,10.1017
34,publishers,Dimension,publisher,VARCHAR,publisher name from Crossref,Cambridge University Press (CUP)

#### Step 5: Complete Project Write Up

**Clearly state the rationale for the choice of tools and technologies for the project.**

Since they datasetes are very large, I choose to store the datasets for the staging tables in S3 because it can be picked up easily by Redshift. Redshift then allows all kinds of querying the data easily using SQL or an UI. Once the data is loaded you can perform analytical queries like:

In [55]:
#get the number of articles which are found in both dataset

In [56]:
%%sql 

SELECT count(*)  
FROM downloads d
JOIN articles a
ON d.doi = a.doi;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(4901,)]

In [57]:
#show the most popular titles

In [58]:
%%sql 

SELECT count(a.title) AS title_count,
       a.title
FROM downloads d
JOIN articles a
ON d.doi = a.doi
GROUP BY a.title
ORDER BY title_count DESC
LIMIT 5;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
5 rows affected.

[(17, 'Syphilitic Pharyngitis'),
 (16, 'Psychosocial Risk Factors Associated With Cyberbullying Among Adolescents'),
 (13, 'Serum Cholesterol, Blood Pressure, Cigarette Smoking, and Death From Coronary Heart Disease Overall Findings and Differences by Age for 316099 White Men'),
 (13, 'Disseminated Superficial Actinic Porokeratosis'),
 (13, 'The Immunologic and Genetic Basis of Psoriasis')]

In [59]:
# the cities where most users are coming from

In [60]:
%%sql

SELECT count (user_city) AS user_city_count,
user_city
FROM users
GROUP BY user_city
ORDER BY user_city_count DESC
LIMIT 10;

 * postgresql://awsuser:***@dwhcluster.c27jojk0ergl.us-east-1.redshift.amazonaws.com:5439/dev
10 rows affected.

[(57535, 'Tehran'),
 (19738, 'Moskva'),
 (18297, 'Tiran'),
 (15516, 'Beijing'),
 (15207, 'Lima'),
 (15169, 'Tunis'),
 (13945, 'Santiago'),
 (12715, 'Chennai'),
 (10496, 'Athina'),
 (9487, 'Bengaluru')]

there are many more options for queries such as:
* what is the weekday of the most downloads
* which subjects are requested most, are there differences by countries

**Propose how often the data should be updated and why.**

Supposedly we would receive regular and up to date chunks of the server logs from Sci-Hub, e.g. monthly, we would also have to consequently update the Crossref dataset with the most recent articles to have the chance to match as many DOI as possible. There is an Crossref API that could be called, or we could use the latest Public Data File from Crossref available at `Academic Torrents` (currently, the most recent dataset was published in Jan 2021 https://academictorrents.com/details/e4287cb7619999709f6e9db5c359dda17e93d515)

Write a description of how you would approach the problem differently under the following scenarios:
* **The data was increased by 100x.**
    I would increase the size of the Redshift cluster to handle this data
    
* **The data populates a dashboard that must be updated on a daily basis by 7am every day.**
    I would create a pipeline with Airflow that also includes data loading and the cleaning steps I performed, as well as any tasks to update the Redshift tables.
    
* **The database needed to be accessed by 100+ people.**
Since I am using Redshift, I would just need to increase the size of the Redshift cluster